<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test on firefox">
  <parameter name="ip" value="localhost"/>
  <parameter name="browser" value="firefox"/>
    <packages>
      <package name="Script"/>
    </packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->
