<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="Test on firefox">
  <parameter name="ip" value="localhost"/>
  <parameter name="browser" value="firefox"/>
    <packages>
      <package name="Script"/>
    </packages>
  </test> <!-- Test -->
  <test name="test on firefox">
  <parameter name="ip" value="192.168"/>
  <parameter name="browser" value="firefox"/>
  <packages>
  <package name="Script"/>
  </packages>
  </test>
</suite> <!-- Suite -->
